@import url('https://fonts.googleapis.com/css2?family=Figtree:wght@400;700&display=swap');
body{
    background: rgb(35, 59, 35);
    font-family: 'Figtree', sans-serif;
    margin: 50px;
    border-radius: 40px;
}

html{
    background: yellowgreen;
}

.navigation{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    margin-top: 20px;
}

.logo{
    color: yellowgreen;
    font-size: 25px;
}

.menu{
    display: flex;
    gap: 20px;
    color: white;
}

.menu span{
    cursor: pointer;
}

.menu .active{
    color: yellowgreen;
    border-bottom: 2px solid yellowgreen;
}

.contact span{
    background: yellowgreen;
    padding: 11px 20px;
    border-radius: 40px;
}

.contact{
    display: flex;
    gap: 10px;
    align-items: center;
    color: rgb(35, 59, 35);
}

.contact div{
    width: 40px;
    height: 40px;
    background: yellowgreen;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

/* Hero section */
.hero{
    display: flex;
}

.hero .left{
    width: 50%;
    padding: 50px;
    padding-top: 100px;
    color: white;
}

.hero .right{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70vh;
}

.right img{
    width: 300px;
    height: 300px;
    border-radius: 50%;
}

.cta button{
    background: yellowgreen;
    padding: 12px 20px;
    border-radius: 40px;
    border: none;
    font-size: 15px;
}

.mid{
    color: yellowgreen;
}